<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-g col-sm-offset-1 col-md-offset-2">
      <ul>
      <li class="list-group-items" *ngFor=" let product of products">
        <span class="badge">
          {{product.name}}
          {{product.price | currency:"USD"}}
        </span>
      </li>
    </ul>
    </div>

  </div>
</div>