<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let cart of carts">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{cart.name}}</h4>
                <p class="list-group-item-heading">{{cart.description}}</p>
            </div>
        </a>
    </div>
</div>