<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <p>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" formControlName="email">
  </p>
  <p>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" formControlName="password">
  </p>
  <p>
    <label for="status">Status</label>
    <select id="status" formControlName="status">
      <option value="active">Active</option>
      <option value="inactive">Inactive</option>
    </select>
  </p>
  <p>
    <button type="submit" [disabled]="!contactForm.valid">Register</button>
    <button type="button" (click)="updatePassword()">Update Password</button>
  </p>
  <div *ngIf="submitted">
    <p>Email:{{contactForm.value.email}}</p>
        <p>Password:{{contactForm.value.password}}</p>
        <p>Status:{{contactForm.value.status}}</p>
  </div>
</form>
