<h1>User List</h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products;">
                <td>{{product.productID}}</td>
                <td><a [routerLink]="['/product',product.productID]">{{product.name}} </a> </td>
            </tr>
        </tbody>
    </table>
</div>
 
<router-outlet></router-outlet>
