<div class="row">
    <div class="col-md-12">
        <div class="row">
         <div class="col-xs-12">
             <form>
                 <div class="row">
                     <div class="col-sm-5 form-group">
                         <label for="name">Name</label>
                         <input type="text" id="name" class="form-control" (change)="showName($event)" [(ngModel)]="a" value=""/>
                     </div>
                     <div class="col-sm-2 form-group">
                         <label for="amount">Amount</label>
                         <input type="number" id="amount" class="form-control" (change)="showAmount($event)" [(ngModel)]="b" min="0" value=""/>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col-xs-12">
                         <button class="btn btn-success" type="submit" (click)="onBtnClick()">Add</button>
                     </div>

                 </div>
             </form>
         </div>
        </div>
        <hr/>
        <ul class="list-group">
            <a class="list-group-item"
            style="cursor: pointer"
            *ngFor="let products of productList">
        {{products.name}} ({{products.amount}})
    </a>
        </ul>
        </div>
    </div>
