<div *ngIf="!isSignedIn" class="div1">
  <form>
  <h2>Sign Up</h2>
  <input type="text" #emailSignup placeholder="Email"/><br/>
  <input type="text" #passwordSignup placeholder="Password"/>
  <br>
  <button (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign Up</button>
  </form>
</div>
<hr>
<div *ngIf="!isSignedIn" class="div2">
  <h2>Sign In</h2>
  <input type="text" #email placeholder="Email"/><br/>
  <input type="text" #password placeholder="Password"/><br/>
  <button (click)="onSignin(email.value,password.value)">Sign In</button>
</div>
<app-home *ngIf="isSignedIn" (isLogout)="handleLogout()"></app-home>