<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset col-md-offset-2">
      <form (ngSubmit)="submitForm(f)" #f="ngForm">
        <div id="user-data">
          <div class="form-group">
            <label for="email">Email</label>
            <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            (change)="inputChange()"
            required/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
            type="password"
            id="password"
            ngModel
            name="password"
            class="form-control"
            (change)="inputChange()"
            required/>
          </div>
          <div>
            <div class="form-group">
              <label for="status">Status</label>
              <select id="status" [ngModel]="defaultStatus" name="status" class="form-control">
                <option value="active">Active</option>
                <option value="inactive">Inactive</option>
              </select>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="enablebutton">Register</button>
            <button class="btn btn-primary" type="button" (click)="updatePass()">Update Password</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <p>Email:{{user.email}}</p>
      <p>Password:{{user.password}}</p>
      <p>Status:{{user.status}}</p>
    </div>
  </div>
</div>