<h1>Customer List</h1>
<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers;">
                <td>{{customer.customerID}}</td>
                <td><a [routerLink]="['/contact',customer.customerID]">{{customer.name}} </a> </td>
            </tr>
        </tbody>
    </table>
</div>
 
<router-outlet></router-outlet>
