<div>
    <div>
        <button type="button" (click)="onStartTimer()">Start</button>
    </div>
    <div>
    <button type="button" (click)="onStopTimer()">Pause</button>
</div>
<div>
    <app-odd></app-odd>
</div>
</div>
