<div class="container">
 
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['/']"><strong> {{"Assign-7"}} </strong></a>
      </div>
      <ul class="nav navbar-nav">
          <li><a [routerLink]="['home']">Step-1</a></li>
          <li><a [routerLink]="['product']">Step-2</a></li>
          <li><a [routerLink]="['contact']">Step-3</a></li>
      </ul>
    </div>
  </nav>
   
   <router-outlet></router-outlet>
   
  </div>